table.datalle_flujo { 
    margin: 1em; border-collapse: collapse; 
}
table.datalle_flujo td, table.datalle_flujo th { 
    padding: .3em; border: 1px #ccc solid; 
}
table.datalle_flujo td{
    background-color: #ffffff; 
}
table.datalle_flujo thead { 
    background: #C4CEE0; 
    border: 1px #ccc solid; 
} 