USE [master]
GO
/****** Object:  Database [EXFIDA]    Script Date: 02/17/2013 23:16:12 ******/
CREATE DATABASE [EXFIDA] ON  PRIMARY 
( NAME = N'EXFIDA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EXFIDA.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EXFIDA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EXFIDA_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXFIDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXFIDA]
GO
/****** Object:  Table [dbo].[IFRS_ESTADO_PERIODO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_ESTADO_PERIODO](
	[ID_ESTADO_PERIODO] [numeric](2, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](128) NULL,
 CONSTRAINT [PK_NEW_REV_ESTADO_PERIODO] PRIMARY KEY NONCLUSTERED 
(
	[ID_ESTADO_PERIODO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LOS ESTADOS QUE PUEDE TENER UN PERIODO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_ESTADO_PERIODO'
GO
/****** Object:  Table [dbo].[IFRS_ESTADO_CUADRO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_ESTADO_CUADRO](
	[ID_ESTADO_CUADRO] [numeric](2, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](128) NULL,
 CONSTRAINT [PK_NEW_REV_ESTADO_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_ESTADO_CUADRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LOS ESTADOS QUE PUEDE TENER UNA NOTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_ESTADO_CUADRO'
GO
/****** Object:  Table [dbo].[IFRS_EMPRESA]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_EMPRESA](
	[ID_RUT] [numeric](10, 0) NOT NULL,
	[DV] [char](1) NOT NULL,
	[NOMBRE] [varchar](256) NOT NULL,
	[RAZON_SOCIAL] [varchar](256) NULL,
	[GIRO] [varchar](256) NULL,
 CONSTRAINT [PK_IFRS_EMPRESA] PRIMARY KEY NONCLUSTERED 
(
	[ID_RUT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_CODIGO_FECU]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_CODIGO_FECU](
	[ID_FECU] [numeric](12, 0) NOT NULL,
	[DESCRIPCION] [varchar](256) NOT NULL,
	[VIGENCIA] [numeric](1, 0) NOT NULL,
 CONSTRAINT [PK_IFRS_CODIGO_FECU] PRIMARY KEY NONCLUSTERED 
(
	[ID_FECU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_CUENTA_CONTABLE]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_CUENTA_CONTABLE](
	[ID_CUENTA] [numeric](10, 0) NOT NULL,
	[DESCRIPCION] [varchar](256) NOT NULL,
	[VIGENCIA] [numeric](1, 0) NULL,
 CONSTRAINT [PK_IFRS_CUENTA_CONTABLE] PRIMARY KEY NONCLUSTERED 
(
	[ID_CUENTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_TIPO_PARAMETRO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_PARAMETRO](
	[ID_TIPO_PARAMETRO] [numeric](4, 0) NOT NULL,
	[NOMBRE] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_IFRS_TIPO_PARAMETRO] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO_PARAMETRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_TIPO_ESTRUCTURA]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_ESTRUCTURA](
	[ID_TIPO_ESTRUCTURA] [numeric](4, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](64) NULL,
 CONSTRAINT [PK_NEW_REV_TIPO_ESTRUCTURA] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO_ESTRUCTURA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE CONTIENE LA DEFINICION DE LOS TIPOS DE  COMPONENTES DE LA NOTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_TIPO_ESTRUCTURA'
GO
/****** Object:  Table [dbo].[IFRS_TIPO_ESTADO_EEFF]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_ESTADO_EEFF](
	[ID_ESTADO_EEFF] [numeric](4, 0) NOT NULL,
	[NOMBRE] [varchar](256) NOT NULL,
	[VIGENTE] [numeric](1, 0) NOT NULL,
 CONSTRAINT [PK_IFRS_TIPO_ESTADO_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_ESTADO_EEFF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_TIPO_DATO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_DATO](
	[ID_TIPO_DATO] [numeric](2, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](64) NULL,
	[NOMBRE_CLASE] [varchar](256) NULL,
 CONSTRAINT [PK_NEW_REV_TIPO_DATO] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO_DATO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE DEFINE EL TIPO DE DATO JAVA  QUE CONTIENE CADA COLUMNA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_TIPO_DATO'
GO
/****** Object:  Table [dbo].[IFRS_TIPO_CUADRO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_CUADRO](
	[ID_TIPO_CUADRO] [numeric](4, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](256) NULL,
	[TITULO] [varchar](512) NULL,
 CONSTRAINT [PK_NEW_REV_TIPO_CUADRO] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO_CUADRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_TIPO_CELDA]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TIPO_CELDA](
	[ID_TIPO_CELDA] [numeric](4, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](128) NULL,
 CONSTRAINT [PK_NEW_REV_TIPO_CELDA] PRIMARY KEY NONCLUSTERED 
(
	[ID_TIPO_CELDA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE CONTIENE SI LA CELDA ES TITULO, SUBTOTAL, TOTAL, ETC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_TIPO_CELDA'
GO
/****** Object:  Table [dbo].[IFRS_MENU]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_MENU](
	[ID_MENU] [numeric](3, 0) NOT NULL,
	[NOMBRE] [varchar](512) NULL,
	[ESTADO] [numeric](1, 0) NULL,
	[GRUPO] [numeric](2, 0) NULL,
	[URL_MENU] [varchar](512) NULL,
	[ES_PADRE] [numeric](1, 0) NULL,
	[ORDEN] [numeric](4, 0) NULL,
 CONSTRAINT [PK_NEW_REV_MENU] PRIMARY KEY NONCLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LAS OPCIONES DE MENU DISPONIBLES EN LA APLICACIÓN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_MENU'
GO
/****** Object:  Table [dbo].[IFRS_LOG_PROCESO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_LOG_PROCESO](
	[ID_LOG] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](256) NULL,
	[FECHA] [datetime] NULL,
	[LOG] [varchar](4000) NULL,
 CONSTRAINT [PK_IFRS_LOG_PROCESO] PRIMARY KEY NONCLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_XBRL_TAXONOMIA]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_XBRL_TAXONOMIA](
	[ID_TAXONOMIA__NOMBRE__TOP_TAXO] [numeric](8, 0) NOT NULL,
	[NOMBRE] [varchar](1024) NULL,
	[TOP_TAXONOMY] [varchar](1024) NULL,
	[NOMBRE_ARCHIVO] [varchar](1024) NULL,
	[URI] [varchar](1024) NULL,
	[VIGENTE] [numeric](1, 0) NULL,
	[FECHA_TAXONOMIA] [datetime] NULL,
	[USUARIO_CREACION] [varchar](256) NULL,
	[USUARIO_EDICION] [varchar](256) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[FECHA_EDICION] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA PARA GUARDAR LA RUTA DONDE SE ENCUENTRAN LAS TAXONOMIAS.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_XBRL_TAXONOMIA'
GO
/****** Object:  Table [dbo].[IFRS_ROL]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_ROL](
	[ID_ROL] [varchar](256) NOT NULL,
	[NOMBRE_ROL] [varchar](512) NULL,
 CONSTRAINT [PK_IFRS_ROL] PRIMARY KEY NONCLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE DEFINE LO ROLES DISPONIBLES EN EL SISTEMA.
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_ROL'
GO
/****** Object:  Table [dbo].[IFRS_USUARIO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_USUARIO](
	[NOMBRE_USUARIO] [varchar](256) NOT NULL,
	[ID_ROL] [varchar](256) NULL,
	[PASSWORD] [varchar](256) NULL,
	[EMAIL] [varchar](256) NULL,
	[VIGENTE] [numeric](1, 0) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
	[FECHA_ULTIMO_ACCESO] [datetime] NULL,
	[NOMBRE] [varchar](256) NULL,
	[APELLIDO_PATERNO] [varchar](256) NULL,
	[APELLIDO_MATERNO] [varchar](256) NULL,
	[CAMBIAR_PASSWORD] [numeric](1, 0) NULL,
 CONSTRAINT [PK_IFRS_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_PERIODO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_PERIODO](
	[ID_PERIODO] [numeric](6, 0) NOT NULL,
	[ID_ESTADO_PERIODO] [numeric](2, 0) NULL,
 CONSTRAINT [PK_IFRS_PERIODO] PRIMARY KEY NONCLUSTERED 
(
	[ID_PERIODO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IFRS_PARAMETRO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_PARAMETRO](
	[NOMBRE] [varchar](512) NOT NULL,
	[ID_TIPO_PARAMETRO] [numeric](4, 0) NOT NULL,
	[VALOR] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_IFRS_PARAMETRO] PRIMARY KEY NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_CATALOGO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_CATALOGO](
	[ID_CATALOGO] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[RUT] [numeric](10, 0) NOT NULL,
	[ID_TIPO_CUADRO] [numeric](4, 0) NOT NULL,
	[COD_CUADRO] [numeric](5, 0) NULL,
	[COD_SUBCUADRO] [numeric](5, 0) NULL,
	[NOMBRE] [varchar](256) NULL,
	[TITULO] [varchar](256) NULL,
	[ORDEN] [numeric](5, 2) NULL,
	[VIGENCIA] [numeric](1, 0) NULL,
	[IMPRESION_HORIZONTAL] [numeric](1, 0) NULL,
	[VALIDAR_EEFF] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_CATALOGO_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_CATALOGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA DE MAESTRO QUE CONTIENE EL CATALOGO DE TODAS LAS NOTAS DEL SISTEMA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_CATALOGO'
GO
/****** Object:  Table [dbo].[IFRS_AREA_NEGOCIO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_AREA_NEGOCIO](
	[ID_AREA_NEGOCIO] [varchar](3) NOT NULL,
	[ID_RUT] [numeric](10, 0) NULL,
	[NOMBRE] [varchar](256) NULL,
	[VIGENTE] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_AREA_NEGOCIO] PRIMARY KEY NONCLUSTERED 
(
	[ID_AREA_NEGOCIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LAS AREAS DE NEGOCIO INVOLUCRADAS EN EL SISTEMA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_AREA_NEGOCIO'
GO
/****** Object:  Table [dbo].[IFRS_GRUPO]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_GRUPO](
	[ID_GRUPO_ACCESO] [varchar](128) NOT NULL,
	[ID_AREA_NEGOCIO] [varchar](3) NULL,
	[NOMBRE] [varchar](512) NULL,
	[ACCESO_BLOQUEADO] [numeric](1, 0) NULL,
	[VIGENTE] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_GRUPO_ACCESO] PRIMARY KEY NONCLUSTERED 
(
	[ID_GRUPO_ACCESO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA EL MAESTRO CON LOS GRUPOS DE ACCESO A LA APLICACION,
   CLASIFICADOS POR AREA DE NEGOCIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_GRUPO'
GO
/****** Object:  Table [dbo].[IFRS_PERIODO_EMPRESA]    Script Date: 02/17/2013 23:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_PERIODO_EMPRESA](
	[ID_PERIODO] [numeric](6, 0) NOT NULL,
	[ID_RUT] [numeric](10, 0) NOT NULL,
	[ID_ESTADO_PERIODO] [numeric](2, 0) NULL,
 CONSTRAINT [PK_NEW_REV_PERIODO] PRIMARY KEY NONCLUSTERED 
(
	[ID_PERIODO] ASC,
	[ID_RUT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LOS PERIODOS FINANCIEROS Y RESPECTIVOS ESTADOS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_PERIODO_EMPRESA'
GO
/****** Object:  StoredProcedure [dbo].[PRC_CERRAR_PERIODO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<MDR TECHNOLOGY>
-- Create date: <28-01-2013>
-- Description:	<Procedimiento que cierra el periodo para una empresa>
-- =============================================
CREATE PROCEDURE [dbo].[PRC_CERRAR_PERIODO](
@P_ID_PERIODO INT, 
@P_ID_RUT INT, 
@P_USUARIO VARCHAR, 
@P_ERRNO INT OUTPUT
)

AS
BEGIN

SET NOCOUNT ON;

DECLARE
    @V_ERRNO INT,
    @V_MSG VARCHAR(2048),  
    @V_ID_LOG INT,
	@V_EMPRESA VARCHAR(512),
	@V_PERIODO_EMPRESA_ID_PERIODO INT,
	@V_PERIODO_EMPRESA_ID_RUT INT,
	@V_PERIODO_EMPRESA_ID_ESTADO_PERIODO INT,
	@V_PERIODO_CERRADO  INT,
	@V_CONTADOR_PERIODO_ABIERTOS INT;
		
	--ERRORES
	--1 SE CIERRA PERIODO SOLO PARA LA EMPRESA
	--2 SE CIERRA PERIODO PARA TODAS LAS EMPRESAS (TODAS LAS EMPRESAS TIENE EL PERIODO CERRADO) 
	--3 EMPERSA NO EXISTE
	--4 ERROR INSERTAR LOG
	--5 PERIODO NO EXISTE
	--6 PERIODO EN ESTADO CERRADO
	--7 OTRO ERROR
	
	SET @V_PERIODO_CERRADO = 1;
	
	--INSERTANDO LOG
    BEGIN TRANSACTION;
    BEGIN TRY
		
		INSERT INTO IFRS_LOG_PROCESO(USUARIO,FECHA,LOG) VALUES(@P_USUARIO,GETDATE(),'INICIANDO CERRAR PERIODO');
		SET @V_ID_LOG = @@IDENTITY;
		COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
		ROLLBACK TRANSACTION;
		set @P_ERRNO = 4;
        RETURN;
    END CATCH
    
    
    BEGIN TRANSACTION
	BEGIN TRY
		
		SELECT @V_EMPRESA = NOMBRE FROM IFRS_EMPRESA WHERE ID_RUT = 123123;
		
		IF @@ROWCOUNT = 0
		BEGIN
			SET @P_ERRNO = 3;
			goto ERR_HANDLER;
		END;
		
		SELECT @V_PERIODO_EMPRESA_ID_ESTADO_PERIODO = ID_ESTADO_PERIODO FROM IFRS_PERIODO_EMPRESA WHERE ID_RUT = @P_ID_RUT AND ID_PERIODO = @P_ID_PERIODO;
		
		IF @@ROWCOUNT = 0
		BEGIN
			SET @P_ERRNO = 5;
			goto ERR_HANDLER;
		END;
		
		IF @V_PERIODO_EMPRESA_ID_ESTADO_PERIODO = @V_PERIODO_CERRADO 
		BEGIN
			SET @P_ERRNO = 6;
			goto ERR_HANDLER;
		END;
		
		UPDATE IFRS_PERIODO_EMPRESA SET ID_ESTADO_PERIODO = @V_PERIODO_CERRADO WHERE ID_PERIODO = @P_ID_PERIODO AND ID_RUT = @P_ID_RUT;
		UPDATE IFRS_LOG_PROCESO SET LOG = 'SE HA CERRADO CORRECTAMENTE EL PERIODO PARA EMPRESA RUT: ' + CAST(@P_ID_RUT AS VARCHAR) WHERE ID_LOG = @V_ID_LOG;
		SET @P_ERRNO = 1;
		
		SELECT 
				@V_CONTADOR_PERIODO_ABIERTOS = COUNT(*) 
		FROM 
				IFRS_PERIODO_EMPRESA 
		WHERE 
				ID_PERIODO = @P_ID_PERIODO AND 
				ID_ESTADO_PERIODO <> @V_PERIODO_CERRADO;
				
		IF @V_CONTADOR_PERIODO_ABIERTOS = 0
		BEGIN	
			UPDATE IFRS_PERIODO SET ID_ESTADO_PERIODO = @V_PERIODO_CERRADO WHERE ID_PERIODO = @P_ID_PERIODO;
			UPDATE IFRS_LOG_PROCESO SET LOG = 'SE HA CERRADO CORRECTAMENTE EL PERIODO PARA EMPRESA RUT: ' + CAST(@P_ID_RUT AS VARCHAR) + ' - PERIODO CERRADO' WHERE ID_LOG = @V_ID_LOG;
			SET @P_ERRNO = 2;
		END;
		
		COMMIT TRANSACTION;
		
	END TRY
	BEGIN CATCH
		SET @V_ERRNO = ERROR_NUMBER();
		SET	@V_MSG = ERROR_MESSAGE();
		goto ERR_HANDLER;
		RETURN;
	END CATCH;
	
	
	ERR_HANDLER:
	BEGIN
		--PRINT 'ERROR TSQL : ' +  CAST(@@ERROR AS VARCHAR)
		
		IF(@V_ERRNO IS NULL)
			SET @V_ERRNO = 0;
		IF(@V_MSG IS NULL)
			SET	@V_MSG = 'SIN ERROR DE SQL - ERROR DE VALIDACION';
			
		--ROLLBACK DE LA TRANSACCION
		ROLLBACK TRANSACTION
		
		--COMMIT AL LOG
		BEGIN TRANSACTION
		BEGIN TRY
		
			--CONTROL DE EXCEPTION
			IF (@P_ERRNO IS NULL)
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = NULL - ERROR : ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 3
				UPDATE IFRS_LOG_PROCESO SET LOG = 'ERROR : NO EXISTE EMPRESA CON EL RUT ' + CAST(@P_ID_RUT AS VARCHAR) WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 5
				UPDATE IFRS_LOG_PROCESO SET LOG = 'ERROR : NO EXISTE PERIODO ' + CAST(@P_ID_PERIODO AS VARCHAR) + ' EMPRESA ' + CAST(@P_ID_RUT AS VARCHAR) WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 6
				UPDATE IFRS_LOG_PROCESO SET LOG = 'ERROR : PERIODO EN ESADO CERRADO ' + CAST(@P_ID_PERIODO AS VARCHAR) + ' EMPRESA ' + CAST(@P_ID_RUT AS VARCHAR)  WHERE ID_LOG = @V_ID_LOG;
			ELSE
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = '+CAST(@P_ERRNO AS VARCHAR)+' - ERROR : ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG  WHERE ID_LOG = @V_ID_LOG;
			
		COMMIT TRANSACTION;
		RETURN;
				
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			RETURN;
		END CATCH 
	END;
	
	
END;
GO
/****** Object:  Table [dbo].[IFRS_CATALOGO_GRUPO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_CATALOGO_GRUPO](
	[ID_CATALOGO] [numeric](8, 0) NOT NULL,
	[ID_GRUPO_ACCESO] [varchar](128) NOT NULL,
 CONSTRAINT [PK_NEW_REV_CATALOGO_NOTA_GRUPO] PRIMARY KEY NONCLUSTERED 
(
	[ID_CATALOGO] ASC,
	[ID_GRUPO_ACCESO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LA ASOCIACION ENTRE EL CATALOGO DE UNA NOTA Y LOS GRUPOS QUE TIENEN ACCESO A ELLA.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_CATALOGO_GRUPO'
GO
/****** Object:  Table [dbo].[IFRS_VERSION_EEFF]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_VERSION_EEFF](
	[ID_VERSION_EEFF] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[ID_PERIODO] [numeric](6, 0) NOT NULL,
	[ID_RUT] [numeric](10, 0) NOT NULL,
	[ID_ESTADO_EEFF] [numeric](4, 0) NULL,
	[VERSION] [numeric](4, 0) NOT NULL,
	[VIGENCIA] [numeric](1, 0) NOT NULL,
	[USUARIO] [varchar](256) NULL,
	[FECHA] [datetime] NULL,
 CONSTRAINT [PK_IFRS_VERSION_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_VERSION_EEFF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_VERSION]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_VERSION](
	[ID_VERSION] [numeric](8, 0) NOT NULL,
	[ID_CATALOGO] [numeric](8, 0) NULL,
	[ID_PERIODO] [numeric](6, 0) NULL,
	[ID_RUT] [numeric](10, 0) NULL,
	[ID_ESTADO_CUADRO] [numeric](2, 0) NULL,
	[VERSION] [numeric](2, 0) NULL,
	[VIGENCIA] [numeric](1, 0) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[COMENTARIO] [varchar](256) NULL,
	[FECHA_ULTIMO_PROCESO] [datetime] NULL,
	[USUARIO] [varchar](256) NULL,
	[VALIDADO_EEFF] [numeric](1, 0) NULL,
	[DATOS_MODIFICADOS] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_VERSION_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_VERSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE CONTIENE LAS VERSIONES PARA CADA  NOTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_VERSION'
GO
/****** Object:  Table [dbo].[IFRS_USUARIO_GRUPO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_USUARIO_GRUPO](
	[NOMBRE_USUARIO] [varchar](256) NOT NULL,
	[ID_GRUPO_ACCESO] [varchar](128) NOT NULL,
 CONSTRAINT [PK_NEW_REV_USUARIO_GRUPO] PRIMARY KEY NONCLUSTERED 
(
	[ID_GRUPO_ACCESO] ASC,
	[NOMBRE_USUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LA ASOCIACION ENTRE EL USUARIO Y EL GRUPO AL QUE PERTENECE' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_USUARIO_GRUPO'
GO
/****** Object:  Table [dbo].[IFRS_MENU_GRUPO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_MENU_GRUPO](
	[ID_MENU] [numeric](3, 0) NOT NULL,
	[ID_GRUPO_ACCESO] [varchar](128) NOT NULL,
 CONSTRAINT [PK_NEW_REV_MENU_GRUPO] PRIMARY KEY NONCLUSTERED 
(
	[ID_MENU] ASC,
	[ID_GRUPO_ACCESO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LA ASOCIACION DE MENU CON EL GRUPO QUE POSEE EL ACCESO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_MENU_GRUPO'
GO
/****** Object:  Table [dbo].[IFRS_HISTORIAL_REPORTE]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_HISTORIAL_REPORTE](
	[ID_HISTORIAL_REPORTE] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[COMENTARIO] [varchar](1024) NULL,
	[IP_USUARIO] [varchar](256) NULL,
	[CHECK_SUM_EXPORTACION] [varchar](512) NULL,
	[FECHA_EXPORTACION] [datetime] NULL,
	[DOCUMENTO] [varbinary](max) NULL,
	[NOMBRE_ARCHIVO] [varchar](512) NULL,
	[ID_PERIODO] [numeric](6, 0) NULL,
	[ID_RUT] [numeric](10, 0) NULL,
	[NOMBRE_USUARIO] [varchar](256) NULL,
 CONSTRAINT [PK_IFRS_HISTORIAL_REPORTE] PRIMARY KEY NONCLUSTERED 
(
	[ID_HISTORIAL_REPORTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA UN HIISTORIAL CON LA GENERACION DEL REPORTE FINAL FECU EN FORMATO MS WORD,
   ALMACENANDO EL CHECKSUM MD5 DEL ARCHIVO GENERADO PARA ASI COMPARAR SI EXISTIERON MIDIFICACIONES EN EL DOCUMENTO.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_HISTORIAL_REPORTE'
GO
/****** Object:  Table [dbo].[IFRS_GRUPO_EMPRESA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_GRUPO_EMPRESA](
	[ID_GRUPO_ACCESO] [varchar](128) NOT NULL,
	[ID_RUT] [numeric](10, 0) NOT NULL,
 CONSTRAINT [PK_IFRS_GRUPO_EMPRESA] PRIMARY KEY NONCLUSTERED 
(
	[ID_GRUPO_ACCESO] ASC,
	[ID_RUT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_EEFF]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_EEFF](
	[ID_FECU] [numeric](12, 0) NOT NULL,
	[ID_VERSION_EEFF] [numeric](10, 0) NOT NULL,
	[MONTO_TOTAL] [numeric](18, 4) NULL,
 CONSTRAINT [PK_IFRS_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_FECU] ASC,
	[ID_VERSION_EEFF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IFRS_HISTORIAL_VERSION]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_HISTORIAL_VERSION](
	[ID_HISTORIAL] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_ESTADO_CUADRO] [numeric](2, 0) NULL,
	[ID_VERSION] [numeric](8, 0) NULL,
	[NOMBRE_USUARIO] [varchar](256) NULL,
	[FECHA_PROCESO] [datetime] NULL,
	[COMENTARIO] [varchar](2048) NULL,
	[USUARIO] [varchar](256) NULL,
 CONSTRAINT [PK_REV_HISTORIAL_VERSION] PRIMARY KEY NONCLUSTERED 
(
	[ID_HISTORIAL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA EL HITORIAL DE LOS CAMBIOS DE ESTADO DE UNA VERSION PARA EL PERIODO DETERMINADO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_HISTORIAL_VERSION'
GO
/****** Object:  Table [dbo].[IFRS_ESTRUCTURA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_ESTRUCTURA](
	[ID_ESTRUCTURA] [numeric](10, 0) NOT NULL,
	[ID_VERSION] [numeric](8, 0) NULL,
	[ID_TIPO_ESTRUCTURA] [numeric](4, 0) NULL,
	[ORDEN] [numeric](5, 0) NULL,
 CONSTRAINT [PK_NEW_REV_ESTRUCTURA_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_ESTRUCTURA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE DEFINE COMO SE ESTRUCTURA LA NOTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_ESTRUCTURA'
GO
/****** Object:  Table [dbo].[IFRS_TEXTO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_TEXTO](
	[ID_TEXTO] [numeric](10, 0) NOT NULL,
	[TEXTO] [varchar](4000) NULL,
	[NEGRITA] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_TEXTO_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_TEXTO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LOS TEXTOS FIJOS QUE TIENE UNA NOTA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_TEXTO'
GO
/****** Object:  Table [dbo].[IFRS_HTML]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_HTML](
	[ID_HTML] [numeric](10, 0) NOT NULL,
	[CONTENIDO] [varbinary](max) NULL,
	[TITULO] [varchar](1024) NULL,
 CONSTRAINT [PK_NEW_REV_HTML_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_HTML] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_GRILLA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_GRILLA](
	[ID_GRILLA] [numeric](10, 0) NOT NULL,
	[TITULO] [varchar](256) NULL,
	[TIPO_FORMULA] [numeric](4, 0) NULL,
 CONSTRAINT [PK_NEW_REV_GRILLA_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_GRILLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE DEFINE UNA GRILLA ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_GRILLA'
GO
/****** Object:  Table [dbo].[IFRS_DETALLE_EEFF]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_DETALLE_EEFF](
	[ID_CUENTA] [numeric](10, 0) NOT NULL,
	[ID_FECU] [numeric](12, 0) NOT NULL,
	[ID_VERSION_EEFF] [numeric](10, 0) NOT NULL,
	[MONTO_EBS] [numeric](18, 4) NULL,
	[MONTO_RECLASIFICACION] [numeric](18, 4) NULL,
	[MONTO_PESOS] [numeric](18, 4) NULL,
	[MONTO_MILES] [numeric](18, 4) NULL,
	[MONTO_PESOS_MIL] [numeric](18, 4) NULL,
 CONSTRAINT [PK_IFRS_DETALLE_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_CUENTA] ASC,
	[ID_FECU] ASC,
	[ID_VERSION_EEFF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IFRS_COLUMNA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_COLUMNA](
	[ID_COLUMNA] [numeric](8, 0) NOT NULL,
	[ID_GRILLA] [numeric](10, 0) NOT NULL,
	[TITULO_COLUMNA] [varchar](128) NULL,
	[ORDEN] [numeric](3, 0) NULL,
	[ANCHO] [numeric](4, 0) NULL,
	[ROW_HEADER] [numeric](1, 0) NULL,
 CONSTRAINT [PK_NEW_REV_COLUMNA_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_COLUMNA] ASC,
	[ID_GRILLA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE CONTIENE LAS COLUMNAS DE LA GRILLA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_COLUMNA'
GO
/****** Object:  Table [dbo].[IFRS_AGRUPACION_COLUMNA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_AGRUPACION_COLUMNA](
	[ID_NIVEL] [numeric](8, 0) NOT NULL,
	[ID_COLUMNA] [numeric](8, 0) NOT NULL,
	[ID_GRILLA] [numeric](10, 0) NOT NULL,
	[TITULO] [varchar](256) NULL,
	[ANCHO] [numeric](4, 0) NULL,
	[GRUPO] [numeric](4, 0) NULL,
 CONSTRAINT [PK_REV_AGRUPACION_COLUMNA] PRIMARY KEY NONCLUSTERED 
(
	[ID_COLUMNA] ASC,
	[ID_GRILLA] ASC,
	[ID_NIVEL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IFRS_CELDA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IFRS_CELDA](
	[ID_COLUMNA] [numeric](8, 0) NOT NULL,
	[ID_FILA] [numeric](4, 0) NOT NULL,
	[ID_GRILLA] [numeric](10, 0) NOT NULL,
	[ID_TIPO_CELDA] [numeric](4, 0) NULL,
	[ID_TIPO_DATO] [numeric](2, 0) NULL,
	[VALOR] [varchar](2048) NULL,
	[CHILD_HORIZONTAL] [numeric](4, 0) NULL,
	[PARENT_HORIZONTAL] [numeric](4, 0) NULL,
	[CHILD_VERTICAL] [numeric](4, 0) NULL,
	[PARENT_VERTICAL] [numeric](4, 0) NULL,
	[FORMULA] [varchar](256) NULL,
 CONSTRAINT [PK_NEW_REV_CELDA_NOTA] PRIMARY KEY NONCLUSTERED 
(
	[ID_COLUMNA] ASC,
	[ID_GRILLA] ASC,
	[ID_FILA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TABLA QUE ALMACENA LOS ATRIBUTOS DE LA COLUMNA DE UNA NOTA.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IFRS_CELDA'
GO
/****** Object:  Table [dbo].[IFRS_RELACION_EEFF]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_RELACION_EEFF](
	[ID_FECU] [numeric](12, 0) NOT NULL,
	[ID_PERIODO] [numeric](6, 0) NOT NULL,
	[ID_RUT] [numeric](10, 0) NOT NULL,
	[ID_GRILLA] [numeric](10, 0) NULL,
	[ID_COLUMNA] [numeric](8, 0) NOT NULL,
	[ID_FILA] [numeric](4, 0) NULL,
	[MONTO_TOTAL] [numeric](18, 4) NULL,
 CONSTRAINT [PK_IFRS_RELACION_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_PERIODO] ASC,
	[ID_FECU] ASC,
	[ID_RUT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IFRS_RELACION_DETALLE_EEFF]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF](
	[ID_CUENTA] [numeric](10, 0) NOT NULL,
	[ID_FECU] [numeric](12, 0) NOT NULL,
	[ID_PERIODO] [numeric](6, 0) NOT NULL,
	[ID_RUT] [numeric](10, 0) NOT NULL,
	[ID_GRILLA] [numeric](10, 0) NOT NULL,
	[ID_COLUMNA] [numeric](8, 0) NOT NULL,
	[ID_FILA] [numeric](4, 0) NOT NULL,
	[MONTO_EBS] [numeric](18, 4) NULL,
	[MONTO_RECLASIFICACION] [numeric](18, 4) NULL,
	[MONTO_PESOS] [numeric](18, 4) NULL,
	[MONTO_MILES] [numeric](18, 4) NULL,
	[MONTO_PESOS_MIL] [numeric](18, 4) NULL,
 CONSTRAINT [PK_IFRS_RELACION_DETALLE_EEFF] PRIMARY KEY NONCLUSTERED 
(
	[ID_PERIODO] ASC,
	[ID_FECU] ASC,
	[ID_CUENTA] ASC,
	[ID_RUT] ASC,
	[ID_GRILLA] ASC,
	[ID_COLUMNA] ASC,
	[ID_FILA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PRC_COPIA_TIPO_ESTRUCTURA]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<MDR TECHNOLOGY>
-- Create date: <28-01-2013>
-- Description:	<Procedimiento que copia la estructura de la versión anterior>
-- =============================================
CREATE PROCEDURE [dbo].[PRC_COPIA_TIPO_ESTRUCTURA](
	@P_ID_ESTRUCTURA_NUEVA INT,
	@P_ID_ESTRUCTURA_ANTERIOR INT,
	@P_ID_TIPO_ESTRUCTURA INT
)
AS
BEGIN

SET NOCOUNT ON;

	DECLARE
	@CONST_TIPO_GRILLA INT,
	@CONST_TIPO_HTML INT,
	@CONST_TIPO_TEXTO INT;
	
	
	SET @CONST_TIPO_GRILLA = 0
    SET @CONST_TIPO_HTML = 1
    SET @CONST_TIPO_TEXTO = 2

--IF SI ES TIPO GRILLA
	IF @P_ID_TIPO_ESTRUCTURA = @CONST_TIPO_GRILLA
	BEGIN
	
		DECLARE 
		@V_CUR_TITULO_GRILLA VARCHAR(256),
		@V_CUR_TIPO_FORMULA INT;
		
		SELECT @V_CUR_TITULO_GRILLA = TITULO, @V_CUR_TIPO_FORMULA = TIPO_FORMULA
		FROM IFRS_GRILLA
		WHERE ID_GRILLA = @P_ID_ESTRUCTURA_ANTERIOR;

--INSERTANDO GRILLA
		INSERT INTO IFRS_GRILLA
                        (ID_GRILLA, 
                         TITULO, 
                         TIPO_FORMULA) 
        VALUES			(
                        @P_ID_ESTRUCTURA_NUEVA, 
                        @V_CUR_TITULO_GRILLA, 
                        @V_CUR_TIPO_FORMULA);
		
--FIN COPIADO GRILLA		
		
		--COPIANDO COLUMNA
		INSERT INTO IFRS_COLUMNA (
									ID_GRILLA,
									ID_COLUMNA, 
									TITULO_COLUMNA, 
									ORDEN, 
									ANCHO, 
									ROW_HEADER) 
								SELECT 
									@P_ID_ESTRUCTURA_NUEVA, 
									ID_COLUMNA, 
									TITULO_COLUMNA, 
									ORDEN, 
									ANCHO, 
									ROW_HEADER
								FROM 
									IFRS_COLUMNA 
								WHERE 
									ID_GRILLA = @P_ID_ESTRUCTURA_ANTERIOR
								ORDER BY 
									ID_COLUMNA;
		
--FIN COPIADO COLUMNA

--COPIANDO CELDA		
		INSERT INTO IFRS_CELDA (
/*1*/                           ID_GRILLA, 
/*2*/                           ID_COLUMNA, 
/*3*/                           ID_FILA, 
/*4*/                           ID_TIPO_CELDA, 
/*5*/                           ID_TIPO_DATO, 
/*6*/                           VALOR, 
/*7*/                           FORMULA, 
/*8*/                           CHILD_HORIZONTAL, 
/*9*/                           PARENT_HORIZONTAL, 
/*10*/                          CHILD_VERTICAL, 
/*11*/                          PARENT_VERTICAL)

		SELECT					@P_ID_ESTRUCTURA_NUEVA, 
								ID_COLUMNA, 
								ID_FILA,
								ID_TIPO_CELDA,
								ID_TIPO_DATO,
								CASE ID_TIPO_CELDA WHEN 1 THEN 
									(CASE WHEN ID_TIPO_DATO IN(2,3) THEN NULL ELSE VALOR END)
								ELSE VALOR END VALOR, --NO SE COPIA LOS TIPOS 2 Y 3 QUE SON NUMEROS
								FORMULA, 
								CHILD_HORIZONTAL,
								PARENT_HORIZONTAL,
								CHILD_VERTICAL,
								PARENT_VERTICAL
		FROM 
			IFRS_CELDA 
		WHERE 
			ID_GRILLA = @P_ID_ESTRUCTURA_ANTERIOR
			ORDER BY ID_COLUMNA,ID_FILA;

--FIN COPIADO CELDA

--COPIANDO AGRUPACION_COLUMNA

		INSERT INTO IFRS_AGRUPACION_COLUMNA (
                                            ID_GRILLA,
                                            ID_COLUMNA, 
                                            ID_NIVEL, 
                                            TITULO, 
                                            ANCHO, 
                                            GRUPO)
        SELECT								@P_ID_ESTRUCTURA_NUEVA,
											ID_COLUMNA,
											ID_NIVEL, 
											TITULO, 
											ANCHO, 
											GRUPO
		FROM 
			IFRS_AGRUPACION_COLUMNA 
		WHERE 
			ID_GRILLA = @P_ID_ESTRUCTURA_ANTERIOR
			ORDER BY ID_COLUMNA, ID_NIVEL;

	END;
--COPIANDO TIPO HTML
	ELSE IF @P_ID_TIPO_ESTRUCTURA = @CONST_TIPO_HTML
	BEGIN
		INSERT INTO IFRS_HTML ( ID_HTML, 
								CONTENIDO, 
								TITULO)
		SELECT						
								@P_ID_ESTRUCTURA_NUEVA, 
								CONTENIDO, 
								TITULO
		FROM 
			IFRS_HTML
		WHERE
			ID_HTML = @P_ID_ESTRUCTURA_ANTERIOR;
	END;
--COPIANDO TIPO TEXTO
	ELSE IF @P_ID_TIPO_ESTRUCTURA = @CONST_TIPO_TEXTO
	BEGIN
		INSERT INTO IFRS_TEXTO (ID_TEXTO,
								TEXTO,
								NEGRITA)
		SELECT					
								@P_ID_ESTRUCTURA_NUEVA,
								TEXTO,
								NEGRITA
		FROM
			IFRS_TEXTO
		WHERE 
			ID_TEXTO = @P_ID_ESTRUCTURA_ANTERIOR;
	END;

--FINALIZA COPIADO DE ESTRUCTURAS	
	
END--END PROCEDURE
GO
/****** Object:  StoredProcedure [dbo].[PRC_NUEVO_PERIODO]    Script Date: 02/17/2013 23:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<MDR TECHNOLOGY>
-- Create date: <28-01-2013>
-- Description:	<Procedimiento Crea un nuevo periodo copiando los datos del periodo anterior>
-- =============================================
CREATE PROCEDURE [dbo].[PRC_NUEVO_PERIODO](

@P_USUARIO VARCHAR(256), 
@P_ERRNO INT OUTPUT
)

AS
BEGIN

SET NOCOUNT ON;

DECLARE
--SECUENCIAS
    @V_ID_LOG INT,
    @V_ID_VERSION_NUEVA INT,
    @V_ID_ESTRUCTURA_NUEVA INT,
    @V_ID_HISTORIAL_VERSION INT,

--REPRESENTACION TABLA EN VARIABLE
	--IFRS_PERIODO
	@V_PERIODO_ID INT,
	@V_PERIODO_ID_ESTADO_PERIODO INT,
	--IFRS_TEXTO
	@V_TEXTO_ID INT,
	@V_TEXTO_TEXTO VARCHAR(4000),
	@V_TEXTO_NEGRITA INT,
	--IFRS_GRILLA
	@V_GRILLA_ID INT,
	@V_GRILLA_TITULO VARCHAR(256),
	@V_TIPO_FORMULA INT,
	--IFRS_HTML
	@V_HTML_ID INT,
	@V_HTML_CONTENIDO VARBINARY(MAX),
	@V_HTML_TITULO VARCHAR(1024),
	

--CONSTANTES
    @CONST_PERIODO_ABIERTO  INT,
    @CONST_CUADRO_INICIADO  INT,
    @CONST_PERIODO_CERRADO  INT,
    @CONST_MESES_PERIODO  INT,
    @CONST_VIGENTE  INT,
    @CONST_NO_VIGENTE  INT,
    @CONST_COMENTARIO_VERSION VARCHAR(64),
    @CONST_TIPO_GRILLA INT,
    @CONST_TIPO_HTML INT,
    @CONST_TIPO_TEXTO INT,


--VARIABLES VALIDACION
    @V_COUNT_PERIODO_ABIERTO INT,
    @V_COUNT_PERIODO_NUEVO INT,
    
--VARIABLES GENERAL
    @V_PERIODO_DATE DATE,
    @V_ID_PERIODO_NUEVO INT,
    @V_MES_PERIODO INT,
    @V_ANIO_PERIODO INT,
  
--VARIABLES DE ERROR
    @V_ERRNO INT,
    @V_MSG VARCHAR(2048)
    
--ERRORES
--0 ABRE PERIODO CORRECTO
--2 PERIODO NO CERRADO    
--3 PERIODO NO CERRADO POR EMPRESA
--4 INSERTAR LOG
--5 PERIODO NUEVO EXISTE
--6 ERROR INSERTAR PERIODO
--7 ERROR AL GENERAR VERSIONES
--8 GRILLA INCONSITENTE
--9 TEXTO INCONSISTENTE
--10 HTML INCONSISTENTE
--11 ERROR INESPERADO

    SET @CONST_PERIODO_ABIERTO = 0
    SET @CONST_CUADRO_INICIADO = 0
    SET @CONST_PERIODO_CERRADO = 1
    SET @CONST_MESES_PERIODO = 3
    SET @CONST_VIGENTE = 1
    SET @CONST_NO_VIGENTE = 1
    SET @CONST_COMENTARIO_VERSION = 'VERSION INICIAL NUEVO PERIODO'
    SET @CONST_TIPO_GRILLA = 0
    SET @CONST_TIPO_HTML = 1
    SET @CONST_TIPO_TEXTO = 2
    SET @P_ERRNO = 1
    
    --PRINT 'INICIANDO PROCEDURE';

    --INSERTANDO LOG
    BEGIN TRANSACTION;
    BEGIN TRY
		
		INSERT INTO IFRS_LOG_PROCESO(USUARIO,FECHA,LOG) VALUES(@P_USUARIO,GETDATE(),'INICIANDO ABRIR PERIODO');
		SET @V_ID_LOG = @@IDENTITY;
		--PRINT 'INSERTANDO LOG ' + CAST(@V_ID_LOG AS VARCHAR)
		COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
		ROLLBACK TRANSACTION;
		set @P_ERRNO = 4;
        RETURN;
    END CATCH
    
    --TRANSACCION DE INSERCION LOG INICIAL
    BEGIN TRANSACTION
	BEGIN TRY
	
	--SE OBTIENE PERIODO ACTUAL
    SELECT 
		@V_PERIODO_ID = ID_PERIODO,
		@V_PERIODO_ID_ESTADO_PERIODO = ID_ESTADO_PERIODO
    FROM 
        IFRS_PERIODO
    WHERE 
        ID_PERIODO = (SELECT MAX(ID_PERIODO) FROM IFRS_PERIODO);
        
    
    -- SE VALIDA EL ESTADO DEL PERIODO POR EMPRESA Y GENERAL
    SELECT 
        @V_COUNT_PERIODO_ABIERTO = COUNT(*) 
    FROM 
        IFRS_PERIODO_EMPRESA 
    WHERE 
        ID_PERIODO = @V_PERIODO_ID AND 
        ID_ESTADO_PERIODO <> @CONST_PERIODO_CERRADO;
        
    
    --SE VALIDA QUE EL PERIODO NO ESTE ABIERTO    
    IF @V_COUNT_PERIODO_ABIERTO > 0
		BEGIN
			SET @P_ERRNO = 3;
			goto ERR_HANDLER;
		END;
		
	IF @V_PERIODO_ID_ESTADO_PERIODO <> @CONST_PERIODO_CERRADO
		BEGIN
			SET @P_ERRNO = 2;
			goto ERR_HANDLER;
		END
	
	SET @V_PERIODO_DATE = CONVERT(DATETIME, (CAST(@V_PERIODO_ID AS VARCHAR)+'01'));
	SET @V_MES_PERIODO = MONTH(@V_PERIODO_DATE);
	SET @V_ANIO_PERIODO = YEAR(@V_PERIODO_DATE);
	
	--PRINT 'PERIODO DATE' + CAST(@V_PERIODO_DATE AS VARCHAR) 
	--PRINT 'PERIODO MONTH' + CAST(@V_MES_PERIODO AS VARCHAR) 
	--PRINT 'PERIODO YEAR' + CAST(@V_ANIO_PERIODO AS VARCHAR) 
	
	IF @V_MES_PERIODO = 12
		BEGIN
			SET @V_MES_PERIODO = 3;
			SET @V_ANIO_PERIODO = @V_ANIO_PERIODO + 1;
		END;
	ELSE
		BEGIN
			SET @V_MES_PERIODO = @V_MES_PERIODO + 3
		END;
	
	-- SE CALCULA EL NUEVO ID_PERIODO
    SET @V_ID_PERIODO_NUEVO =  (@V_ANIO_PERIODO * 100) + @V_MES_PERIODO;
    
    -- SE VALIDA QUE NO EXISTE NUEVO PERIODO GENERADO
    SELECT 
        @V_COUNT_PERIODO_NUEVO = COUNT(ID_PERIODO) 
    FROM 
        IFRS_PERIODO 
    WHERE 
        ID_PERIODO = @V_ID_PERIODO_NUEVO;
    
    IF @V_COUNT_PERIODO_NUEVO > 0
        BEGIN
			SET @P_ERRNO = 5;
			goto ERR_HANDLER;
		END;
		
	
	
	--INSERTANDO PERIODO Y PERIODO EMPRESA
    BEGIN TRY
    
		--PRINT  'PERIODO NUEVO -> ' + CAST(@V_ID_PERIODO_NUEVO AS VARCHAR)
		--PRINT 'ESTADO PERIODO NUEVO -> ' + CAST(@CONST_PERIODO_ABIERTO AS VARCHAR)
		
        INSERT INTO IFRS_PERIODO (ID_PERIODO, ID_ESTADO_PERIODO)  VALUES ( @V_ID_PERIODO_NUEVO, @CONST_PERIODO_ABIERTO);
        
        DECLARE
		@V_P_ID_RUT INT;
		
        
        DECLARE CUR_PERIODO_EMPRESA CURSOR FOR
			SELECT ID_RUT
			FROM IFRS_PERIODO_EMPRESA 
			WHERE ID_PERIODO = @V_PERIODO_ID ORDER BY ID_RUT;
			
		OPEN CUR_PERIODO_EMPRESA;
		
		FETCH CUR_PERIODO_EMPRESA INTO @V_P_ID_RUT;
		
		WHILE (@@FETCH_STATUS = 0)
			BEGIN
				
				PRINT 'INSERTANDO PERIODO EMPRESA : '
				PRINT @V_ID_PERIODO_NUEVO
				PRINT @V_P_ID_RUT
				PRINT @CONST_PERIODO_ABIERTO
				
				INSERT INTO IFRS_PERIODO_EMPRESA (ID_PERIODO, ID_RUT, ID_ESTADO_PERIODO) VALUES (@V_ID_PERIODO_NUEVO, @V_P_ID_RUT, @CONST_PERIODO_ABIERTO);
				
				FETCH CUR_PERIODO_EMPRESA INTO @V_P_ID_RUT;
				
			END;
		
		CLOSE CUR_PERIODO_EMPRESA;
		DEALLOCATE CUR_PERIODO_EMPRESA;
       
    END TRY
    BEGIN CATCH
        CLOSE CUR_PERIODO_EMPRESA;
		DEALLOCATE CUR_PERIODO_EMPRESA;
		SET @V_ERRNO = ERROR_NUMBER();
		SET	@V_MSG = ERROR_MESSAGE();
		SET @P_ERRNO = 6;
		goto ERR_HANDLER;
    END CATCH
    
	--COPIANDO INFORMACION    
    BEGIN TRY
    
		--DECLARANDO VARIABLES CURSOR CUR_VERSION
		DECLARE
		@V_CUR_ID_VERSION INT,
		@V_CUR_ID_CATALOGO INT, 
		@V_CUR_ID_PERIODO INT, 
		@V_CUR_ID_RUT INT, 
		@V_CUR_VERSION INT, 
		@V_CUR_VIGENCIA INT, 
		@V_CUR_COMENTARIO VARCHAR(256);
		
		--ITERANDO VERSIONES PARA COPIAR
		DECLARE CUR_VERSION CURSOR FOR
			SELECT 
				ID_VERSION, 
				ID_CATALOGO, 
				ID_PERIODO, 
				ID_RUT, 
				VERSION, 
				VIGENCIA,
				COMENTARIO 
			FROM 
				IFRS_VERSION 
			WHERE 
				VIGENCIA = 1 AND 
				ID_PERIODO = @V_PERIODO_ID;
				
		OPEN CUR_VERSION;
		--SE LEE PRIMER REGISTRO
		FETCH CUR_VERSION INTO  @V_CUR_ID_VERSION,
								@V_CUR_ID_CATALOGO,
								@V_CUR_ID_PERIODO,
								@V_CUR_ID_RUT,
								@V_CUR_VERSION,
								@V_CUR_VIGENCIA,
								@V_CUR_COMENTARIO;
								
		--ITERANDO VERSION
		WHILE (@@FETCH_STATUS = 0)
			BEGIN
				
				PRINT 'INSERTANDO VERSION : '
				PRINT @V_CUR_ID_VERSION
				PRINT @V_CUR_ID_CATALOGO
				PRINT @V_CUR_ID_PERIODO
				PRINT @V_CUR_ID_RUT
				
				SELECT @V_ID_VERSION_NUEVA = (MAX(ID_VERSION)+1) FROM IFRS_VERSION;
		
				PRINT '@V_ID_VERSION_NUEVA -> ' +  CAST(@V_ID_VERSION_NUEVA AS VARCHAR)
				PRINT 'SE INSERTA VERSION'
				
				INSERT INTO IFRS_VERSION 
		/*1*/            (   ID_VERSION, 
		/*2*/                ID_CATALOGO, 
		/*3*/                ID_PERIODO, 
		/*4*/                ID_RUT, 
		/*5*/                ID_ESTADO_CUADRO, 
		/*6*/                VERSION, 
		/*7*/                VIGENCIA, 
		/*8*/                FECHA_CREACION, 
		/*9*/                COMENTARIO)
				VALUES 
		/*1*/            (   @V_ID_VERSION_NUEVA, 
		/*2*/                @V_CUR_ID_CATALOGO, 
		/*3*/                @V_ID_PERIODO_NUEVO, 
		/*4*/                @V_CUR_ID_RUT,
		/*5*/                @CONST_CUADRO_INICIADO, 
		/*6*/                (@V_CUR_VERSION + 1), 
		/*7*/                @CONST_VIGENTE, 
		/*8*/                GETDATE(), 
		/*9*/                @CONST_COMENTARIO_VERSION);		

				--SELECT @V_ID_HISTORIAL_VERSION = (MAX(ID_HISTORIAL)+1) FROM IFRS_HISTORIAL_VERSION;
				--SET @V_ID_HISTORIAL_VERSION = @@IDENTITY;
				--PRINT 'SE INSERTA HISTORIAL VERSION'
				
				INSERT INTO IFRS_HISTORIAL_VERSION 
		/*1*/                (   --ID_HISTORIAL,
		/*2*/                    ID_ESTADO_CUADRO, 
		/*3*/                    ID_VERSION, 
		/*4*/                    NOMBRE_USUARIO, 
		/*5*/                    FECHA_PROCESO, 
		/*6*/                    COMENTARIO    ) 
				VALUES 
		/*1*/            (       --@V_ID_HISTORIAL_VERSION, 
		/*2*/                    @CONST_VIGENTE, 
		/*3*/                    @V_ID_VERSION_NUEVA, 
		/*4*/                    @P_USUARIO, 
		/*5*/                    GETDATE(), 
		/*6*/                    @CONST_COMENTARIO_VERSION);
			
			
			--PRINT 'DECLARANDO CURSOR PARA COPIAR ESTRUCTURA'
			
			DECLARE @V_CUR_ID_ESTRUCTURA INT, 
					@V_CUR_ID_TIPO_ESTRUCTURA INT,
					@V_CUR_ORDEN INT;
                        
			
					
				--ITERANDO ESTRUCTURAS PARA COPIAR
				DECLARE CUR_ESTRUCTURA CURSOR FOR
					SELECT ID_ESTRUCTURA,ID_TIPO_ESTRUCTURA,ORDEN 
					FROM IFRS_ESTRUCTURA 
					WHERE ID_VERSION = @V_CUR_ID_VERSION;
				
				--PRINT 'ITERANDO PRIMER REGISTRO ESTRUCTURA'

				OPEN CUR_ESTRUCTURA;
				--SE LEE PRIMER REGISTRO
				FETCH CUR_ESTRUCTURA INTO   @V_CUR_ID_ESTRUCTURA,
											@V_CUR_ID_TIPO_ESTRUCTURA,
											@V_CUR_ORDEN;
	            
	            --PRINT 'ITERANDO ESTRUCTURAS'
	                       
				--ITERANDO ESTRUCTURA 
				WHILE (@@FETCH_STATUS = 0)
					BEGIN
					
					SELECT @V_ID_ESTRUCTURA_NUEVA = (MAX(ID_ESTRUCTURA)+1) FROM IFRS_ESTRUCTURA;
					
					
					INSERT INTO IFRS_ESTRUCTURA 
                       (ID_ESTRUCTURA, 
                        ID_VERSION, 
                        ID_TIPO_ESTRUCTURA, 
                        ORDEN) 
					VALUES 
                        (@V_ID_ESTRUCTURA_NUEVA, 
                         @V_ID_VERSION_NUEVA, 
						 @V_CUR_ID_TIPO_ESTRUCTURA, 
                         @V_CUR_ORDEN);
                         
                    EXEC PRC_COPIA_TIPO_ESTRUCTURA @V_ID_ESTRUCTURA_NUEVA, @V_CUR_ID_ESTRUCTURA, @V_CUR_ID_TIPO_ESTRUCTURA
                         
					--ITERANDO SIGUIENTE REGISTRO DE ESTRUCTURA
					FETCH CUR_ESTRUCTURA INTO   @V_CUR_ID_ESTRUCTURA,
												@V_CUR_ID_TIPO_ESTRUCTURA,
												@V_CUR_ORDEN;
												
					--PRINT 'COPIANDO ESTRUCTURA'

				END; -- END WHILE
				
				CLOSE CUR_ESTRUCTURA;
				DEALLOCATE CUR_ESTRUCTURA;
			
			--ITERANDO SIGUIENTE REGISTRO DE VERSION
			FETCH CUR_VERSION INTO  @V_CUR_ID_VERSION,
								@V_CUR_ID_CATALOGO,
								@V_CUR_ID_PERIODO,
								@V_CUR_ID_RUT,
								@V_CUR_VERSION,
								@V_CUR_VIGENCIA,
								@V_CUR_COMENTARIO;
				
			END;
		CLOSE CUR_VERSION;
		DEALLOCATE CUR_VERSION;
		
    END TRY    
    BEGIN CATCH
		SET @V_ERRNO = ERROR_NUMBER();
		SET	@V_MSG = ERROR_MESSAGE();
		SET @P_ERRNO = 7
		CLOSE CUR_ESTRUCTURA;
		DEALLOCATE CUR_ESTRUCTURA;
		CLOSE CUR_VERSION;
		DEALLOCATE CUR_VERSION;
		--PRINT ERROR_NUMBER()
		--PRINT ERROR_MESSAGE()
		goto ERR_HANDLER;
        
    END CATCH
        
	
	UPDATE IFRS_LOG_PROCESO SET LOG = 'EL PERIODO HA SIDO ABIERTO CORRECTAMENTE' WHERE ID_LOG = @V_ID_LOG;
	
    --SI NO HAY ERRORES COMMIT
	COMMIT TRANSACTION;
    RETURN;
    
    
    END TRY
    BEGIN CATCH
		SET @P_ERRNO = 11
		goto ERR_HANDLER;
    END CATCH
    
    ERR_HANDLER:
	BEGIN
		--PRINT 'ERROR TSQL : ' +  CAST(@@ERROR AS VARCHAR)
		
		IF(@V_ERRNO IS NULL)
			SET @V_ERRNO = 0;
		IF(@V_MSG IS NULL)
			SET	@V_MSG = 'SIN ERROR DE SQL - ERROR DE VALIDACION';
			
		--ROLLBACK DE LA TRANSACCION
		ROLLBACK TRANSACTION
		
		--COMMIT AL LOG
		BEGIN TRANSACTION
		BEGIN TRY
			
			--PRINT 'TRY LOG'
			--PRINT 'ACTUALIZANDO LOG ' + CAST(@V_ID_LOG AS VARCHAR)
			--CONTROL DE EXCEPTION
			
			IF (@P_ERRNO IS NULL)
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = NULL - ERROR : ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 3
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = 3 - ERROR : NO TODAS LAS EMPRESAS HAN CERRADO PERIODO' WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 2
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = 2 - ERROR : EL PERIODO NO ESTA EN ESTADO CERRADO' WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 5
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = 5 - EL PERIODO NUEVO' + @V_ID_PERIODO_NUEVO + 'ESTA REGISTRADO EN BASE DE DATOS' WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 6
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = '+CAST(@P_ERRNO AS VARCHAR)+' - ERROR : ERROR PERIODO_EMPRESA ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG  WHERE ID_LOG = @V_ID_LOG;
			ELSE IF @P_ERRNO = 7
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = '+CAST(@P_ERRNO AS VARCHAR)+' - ERROR : ERROR AL COPIAR ESTRUCTURAS  ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG  WHERE ID_LOG = @V_ID_LOG;
			ELSE
				UPDATE IFRS_LOG_PROCESO SET LOG = 'P_ERRNO = '+CAST(@P_ERRNO AS VARCHAR)+' - ERROR : ' + CAST(@V_ERRNO AS VARCHAR) + ' - ' + @V_MSG WHERE ID_LOG = @V_ID_LOG;
			
		COMMIT TRANSACTION;
		RETURN;
				
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION
			RETURN;
		END CATCH 
	END;
	

END;
GO
/****** Object:  Default [DF__IFRS_MENU__ES_PA__286302EC]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_MENU] ADD  DEFAULT (NULL) FOR [ES_PADRE]
GO
/****** Object:  Default [DF__IFRS_VERS__FECHA__4AB81AF0]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION] ADD  DEFAULT ('SYSDATE') FOR [FECHA_CREACION]
GO
/****** Object:  Default [DF__IFRS_TEXT__NEGRI__38996AB5]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_TEXTO] ADD  DEFAULT ((0)) FOR [NEGRITA]
GO
/****** Object:  Default [DF__IFRS_GRIL__TIPO___1A14E395]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_GRILLA] ADD  DEFAULT ((1)) FOR [TIPO_FORMULA]
GO
/****** Object:  ForeignKey [FK_IFRS_USU_REFERENCE_IFRS_ROL]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_USU_REFERENCE_IFRS_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[IFRS_ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[IFRS_USUARIO] CHECK CONSTRAINT [FK_IFRS_USU_REFERENCE_IFRS_ROL]
GO
/****** Object:  ForeignKey [FK_IFRS_PER_REF_IFRS_EST_P]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_PERIODO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_PER_REF_IFRS_EST_P] FOREIGN KEY([ID_ESTADO_PERIODO])
REFERENCES [dbo].[IFRS_ESTADO_PERIODO] ([ID_ESTADO_PERIODO])
GO
ALTER TABLE [dbo].[IFRS_PERIODO] CHECK CONSTRAINT [FK_IFRS_PER_REF_IFRS_EST_P]
GO
/****** Object:  ForeignKey [FK_IFRS_PAR_REFERENCE_IFRS_TIP]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_PARAMETRO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_PAR_REFERENCE_IFRS_TIP] FOREIGN KEY([ID_TIPO_PARAMETRO])
REFERENCES [dbo].[IFRS_TIPO_PARAMETRO] ([ID_TIPO_PARAMETRO])
GO
ALTER TABLE [dbo].[IFRS_PARAMETRO] CHECK CONSTRAINT [FK_IFRS_PAR_REFERENCE_IFRS_TIP]
GO
/****** Object:  ForeignKey [FK_IFRS_CAT_REFERENCE_IFRS_EMP]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_CATALOGO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_CAT_REFERENCE_IFRS_EMP] FOREIGN KEY([RUT])
REFERENCES [dbo].[IFRS_EMPRESA] ([ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_CATALOGO] CHECK CONSTRAINT [FK_IFRS_CAT_REFERENCE_IFRS_EMP]
GO
/****** Object:  ForeignKey [FK_REV_CATA_REF_REV_TIPO_CU]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_CATALOGO]  WITH CHECK ADD  CONSTRAINT [FK_REV_CATA_REF_REV_TIPO_CU] FOREIGN KEY([ID_TIPO_CUADRO])
REFERENCES [dbo].[IFRS_TIPO_CUADRO] ([ID_TIPO_CUADRO])
GO
ALTER TABLE [dbo].[IFRS_CATALOGO] CHECK CONSTRAINT [FK_REV_CATA_REF_REV_TIPO_CU]
GO
/****** Object:  ForeignKey [FK_IFRS_ARE_REFERENCE_IFRS_EMP]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_AREA_NEGOCIO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_ARE_REFERENCE_IFRS_EMP] FOREIGN KEY([ID_RUT])
REFERENCES [dbo].[IFRS_EMPRESA] ([ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_AREA_NEGOCIO] CHECK CONSTRAINT [FK_IFRS_ARE_REFERENCE_IFRS_EMP]
GO
/****** Object:  ForeignKey [FK_REV_GRUP_REF_REV_AREA]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_REV_GRUP_REF_REV_AREA] FOREIGN KEY([ID_AREA_NEGOCIO])
REFERENCES [dbo].[IFRS_AREA_NEGOCIO] ([ID_AREA_NEGOCIO])
GO
ALTER TABLE [dbo].[IFRS_GRUPO] CHECK CONSTRAINT [FK_REV_GRUP_REF_REV_AREA]
GO
/****** Object:  ForeignKey [FK_IFRS_PER_REFERENCE_IFRS_EMP]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_EMP] FOREIGN KEY([ID_RUT])
REFERENCES [dbo].[IFRS_EMPRESA] ([ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA] CHECK CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_EMP]
GO
/****** Object:  ForeignKey [FK_IFRS_PER_REFERENCE_IFRS_EST]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_EST] FOREIGN KEY([ID_ESTADO_PERIODO])
REFERENCES [dbo].[IFRS_ESTADO_PERIODO] ([ID_ESTADO_PERIODO])
GO
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA] CHECK CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_EST]
GO
/****** Object:  ForeignKey [FK_IFRS_PER_REFERENCE_IFRS_PER]    Script Date: 02/17/2013 23:16:14 ******/
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_PER] FOREIGN KEY([ID_PERIODO])
REFERENCES [dbo].[IFRS_PERIODO] ([ID_PERIODO])
GO
ALTER TABLE [dbo].[IFRS_PERIODO_EMPRESA] CHECK CONSTRAINT [FK_IFRS_PER_REFERENCE_IFRS_PER]
GO
/****** Object:  ForeignKey [FK_REV_CATA_REF_REV_CATA]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_CATALOGO_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_REV_CATA_REF_REV_CATA] FOREIGN KEY([ID_CATALOGO])
REFERENCES [dbo].[IFRS_CATALOGO] ([ID_CATALOGO])
GO
ALTER TABLE [dbo].[IFRS_CATALOGO_GRUPO] CHECK CONSTRAINT [FK_REV_CATA_REF_REV_CATA]
GO
/****** Object:  ForeignKey [FK_REV_CATA_REF_REV_GRUP]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_CATALOGO_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_REV_CATA_REF_REV_GRUP] FOREIGN KEY([ID_GRUPO_ACCESO])
REFERENCES [dbo].[IFRS_GRUPO] ([ID_GRUPO_ACCESO])
GO
ALTER TABLE [dbo].[IFRS_CATALOGO_GRUPO] CHECK CONSTRAINT [FK_REV_CATA_REF_REV_GRUP]
GO
/****** Object:  ForeignKey [FK_IFRS_VER_REFERENCE_IFRS_PE2]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_PE2] FOREIGN KEY([ID_PERIODO], [ID_RUT])
REFERENCES [dbo].[IFRS_PERIODO_EMPRESA] ([ID_PERIODO], [ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_VERSION_EEFF] CHECK CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_PE2]
GO
/****** Object:  ForeignKey [FK_IFRS_VER_REFERENCE_IFRS_TIP]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_TIP] FOREIGN KEY([ID_ESTADO_EEFF])
REFERENCES [dbo].[IFRS_TIPO_ESTADO_EEFF] ([ID_ESTADO_EEFF])
GO
ALTER TABLE [dbo].[IFRS_VERSION_EEFF] CHECK CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_TIP]
GO
/****** Object:  ForeignKey [FK_IFRS_VER_REFERENCE_IFRS_EST]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_EST] FOREIGN KEY([ID_ESTADO_CUADRO])
REFERENCES [dbo].[IFRS_ESTADO_CUADRO] ([ID_ESTADO_CUADRO])
GO
ALTER TABLE [dbo].[IFRS_VERSION] CHECK CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_EST]
GO
/****** Object:  ForeignKey [FK_IFRS_VER_REFERENCE_IFRS_PER]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_PER] FOREIGN KEY([ID_PERIODO], [ID_RUT])
REFERENCES [dbo].[IFRS_PERIODO_EMPRESA] ([ID_PERIODO], [ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_VERSION] CHECK CONSTRAINT [FK_IFRS_VER_REFERENCE_IFRS_PER]
GO
/****** Object:  ForeignKey [FK_REV_VERS_REF_REV_CATA]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_REV_VERS_REF_REV_CATA] FOREIGN KEY([ID_CATALOGO])
REFERENCES [dbo].[IFRS_CATALOGO] ([ID_CATALOGO])
GO
ALTER TABLE [dbo].[IFRS_VERSION] CHECK CONSTRAINT [FK_REV_VERS_REF_REV_CATA]
GO
/****** Object:  ForeignKey [FK_IFRS_USU_REFERENCE_IFRS_USU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_USUARIO_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_USU_REFERENCE_IFRS_USU] FOREIGN KEY([NOMBRE_USUARIO])
REFERENCES [dbo].[IFRS_USUARIO] ([NOMBRE_USUARIO])
GO
ALTER TABLE [dbo].[IFRS_USUARIO_GRUPO] CHECK CONSTRAINT [FK_IFRS_USU_REFERENCE_IFRS_USU]
GO
/****** Object:  ForeignKey [FK_REV_USUA_REF_REV_GRUP]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_USUARIO_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_REV_USUA_REF_REV_GRUP] FOREIGN KEY([ID_GRUPO_ACCESO])
REFERENCES [dbo].[IFRS_GRUPO] ([ID_GRUPO_ACCESO])
GO
ALTER TABLE [dbo].[IFRS_USUARIO_GRUPO] CHECK CONSTRAINT [FK_REV_USUA_REF_REV_GRUP]
GO
/****** Object:  ForeignKey [FK_NEW_REV_MENU_REF_REV_GRUP]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_MENU_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_NEW_REV_MENU_REF_REV_GRUP] FOREIGN KEY([ID_GRUPO_ACCESO])
REFERENCES [dbo].[IFRS_GRUPO] ([ID_GRUPO_ACCESO])
GO
ALTER TABLE [dbo].[IFRS_MENU_GRUPO] CHECK CONSTRAINT [FK_NEW_REV_MENU_REF_REV_GRUP]
GO
/****** Object:  ForeignKey [FK_NEW_REV_MENU_REF_REV_MENU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_MENU_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_NEW_REV_MENU_REF_REV_MENU] FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[IFRS_MENU] ([ID_MENU])
GO
ALTER TABLE [dbo].[IFRS_MENU_GRUPO] CHECK CONSTRAINT [FK_NEW_REV_MENU_REF_REV_MENU]
GO
/****** Object:  ForeignKey [FK_IFRS_HIS_REFERENCE_IFRS_PER]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HISTORIAL_REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_PER] FOREIGN KEY([ID_PERIODO], [ID_RUT])
REFERENCES [dbo].[IFRS_PERIODO_EMPRESA] ([ID_PERIODO], [ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_HISTORIAL_REPORTE] CHECK CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_PER]
GO
/****** Object:  ForeignKey [FK_IFRS_HIS_REFERENCE_IFRS_USU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HISTORIAL_REPORTE]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_USU] FOREIGN KEY([NOMBRE_USUARIO])
REFERENCES [dbo].[IFRS_USUARIO] ([NOMBRE_USUARIO])
GO
ALTER TABLE [dbo].[IFRS_HISTORIAL_REPORTE] CHECK CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_USU]
GO
/****** Object:  ForeignKey [FK_IFRS_GRU_REFERENCE_IFRS_EMP]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_GRUPO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_GRU_REFERENCE_IFRS_EMP] FOREIGN KEY([ID_RUT])
REFERENCES [dbo].[IFRS_EMPRESA] ([ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_GRUPO_EMPRESA] CHECK CONSTRAINT [FK_IFRS_GRU_REFERENCE_IFRS_EMP]
GO
/****** Object:  ForeignKey [FK_IFRS_GRU_REFERENCE_IFRS_GRU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_GRUPO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_GRU_REFERENCE_IFRS_GRU] FOREIGN KEY([ID_GRUPO_ACCESO])
REFERENCES [dbo].[IFRS_GRUPO] ([ID_GRUPO_ACCESO])
GO
ALTER TABLE [dbo].[IFRS_GRUPO_EMPRESA] CHECK CONSTRAINT [FK_IFRS_GRU_REFERENCE_IFRS_GRU]
GO
/****** Object:  ForeignKey [FK_IFRS_EEF_REFERENCE_IFRS_COD]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_EEF_REFERENCE_IFRS_COD] FOREIGN KEY([ID_FECU])
REFERENCES [dbo].[IFRS_CODIGO_FECU] ([ID_FECU])
GO
ALTER TABLE [dbo].[IFRS_EEFF] CHECK CONSTRAINT [FK_IFRS_EEF_REFERENCE_IFRS_COD]
GO
/****** Object:  ForeignKey [FK_IFRS_EEF_REFERENCE_IFRS_VER]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_EEF_REFERENCE_IFRS_VER] FOREIGN KEY([ID_VERSION_EEFF])
REFERENCES [dbo].[IFRS_VERSION_EEFF] ([ID_VERSION_EEFF])
GO
ALTER TABLE [dbo].[IFRS_EEFF] CHECK CONSTRAINT [FK_IFRS_EEF_REFERENCE_IFRS_VER]
GO
/****** Object:  ForeignKey [FK_IFRS_HIS_REFERENCE_IFRS_US2]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_US2] FOREIGN KEY([NOMBRE_USUARIO])
REFERENCES [dbo].[IFRS_USUARIO] ([NOMBRE_USUARIO])
GO
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION] CHECK CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_US2]
GO
/****** Object:  ForeignKey [FK_IFRS_HIS_REFERENCE_IFRS_VER]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_VER] FOREIGN KEY([ID_VERSION])
REFERENCES [dbo].[IFRS_VERSION] ([ID_VERSION])
GO
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION] CHECK CONSTRAINT [FK_IFRS_HIS_REFERENCE_IFRS_VER]
GO
/****** Object:  ForeignKey [FK_REV_HIST_REF_REV_ESTA]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_REV_HIST_REF_REV_ESTA] FOREIGN KEY([ID_ESTADO_CUADRO])
REFERENCES [dbo].[IFRS_ESTADO_CUADRO] ([ID_ESTADO_CUADRO])
GO
ALTER TABLE [dbo].[IFRS_HISTORIAL_VERSION] CHECK CONSTRAINT [FK_REV_HIST_REF_REV_ESTA]
GO
/****** Object:  ForeignKey [FK_REV_ESTR_REF_REV_TIPO]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_ESTRUCTURA]  WITH CHECK ADD  CONSTRAINT [FK_REV_ESTR_REF_REV_TIPO] FOREIGN KEY([ID_TIPO_ESTRUCTURA])
REFERENCES [dbo].[IFRS_TIPO_ESTRUCTURA] ([ID_TIPO_ESTRUCTURA])
GO
ALTER TABLE [dbo].[IFRS_ESTRUCTURA] CHECK CONSTRAINT [FK_REV_ESTR_REF_REV_TIPO]
GO
/****** Object:  ForeignKey [FK_REV_ESTR_REF_REV_VERS]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_ESTRUCTURA]  WITH CHECK ADD  CONSTRAINT [FK_REV_ESTR_REF_REV_VERS] FOREIGN KEY([ID_VERSION])
REFERENCES [dbo].[IFRS_VERSION] ([ID_VERSION])
GO
ALTER TABLE [dbo].[IFRS_ESTRUCTURA] CHECK CONSTRAINT [FK_REV_ESTR_REF_REV_VERS]
GO
/****** Object:  ForeignKey [FK_REV_TEXT_REFERENCE_REV_ESTR]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_TEXTO]  WITH CHECK ADD  CONSTRAINT [FK_REV_TEXT_REFERENCE_REV_ESTR] FOREIGN KEY([ID_TEXTO])
REFERENCES [dbo].[IFRS_ESTRUCTURA] ([ID_ESTRUCTURA])
GO
ALTER TABLE [dbo].[IFRS_TEXTO] CHECK CONSTRAINT [FK_REV_TEXT_REFERENCE_REV_ESTR]
GO
/****** Object:  ForeignKey [FK_REV_HTML_REF_REV_ESTR]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_HTML]  WITH CHECK ADD  CONSTRAINT [FK_REV_HTML_REF_REV_ESTR] FOREIGN KEY([ID_HTML])
REFERENCES [dbo].[IFRS_ESTRUCTURA] ([ID_ESTRUCTURA])
GO
ALTER TABLE [dbo].[IFRS_HTML] CHECK CONSTRAINT [FK_REV_HTML_REF_REV_ESTR]
GO
/****** Object:  ForeignKey [FK_REV_GRIL_REF_REV_ESTR]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_GRILLA]  WITH CHECK ADD  CONSTRAINT [FK_REV_GRIL_REF_REV_ESTR] FOREIGN KEY([ID_GRILLA])
REFERENCES [dbo].[IFRS_ESTRUCTURA] ([ID_ESTRUCTURA])
GO
ALTER TABLE [dbo].[IFRS_GRILLA] CHECK CONSTRAINT [FK_REV_GRIL_REF_REV_ESTR]
GO
/****** Object:  ForeignKey [FK_IFRS_DET_REFERENCE_IFRS_CUE]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_DET_REFERENCE_IFRS_CUE] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[IFRS_CUENTA_CONTABLE] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[IFRS_DETALLE_EEFF] CHECK CONSTRAINT [FK_IFRS_DET_REFERENCE_IFRS_CUE]
GO
/****** Object:  ForeignKey [FK_IFRS_DET_REFERENCE_IFRS_EEF]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_DET_REFERENCE_IFRS_EEF] FOREIGN KEY([ID_FECU], [ID_VERSION_EEFF])
REFERENCES [dbo].[IFRS_EEFF] ([ID_FECU], [ID_VERSION_EEFF])
GO
ALTER TABLE [dbo].[IFRS_DETALLE_EEFF] CHECK CONSTRAINT [FK_IFRS_DET_REFERENCE_IFRS_EEF]
GO
/****** Object:  ForeignKey [FK_REV_COLU_REF_REV_GRIL]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_COLUMNA]  WITH CHECK ADD  CONSTRAINT [FK_REV_COLU_REF_REV_GRIL] FOREIGN KEY([ID_GRILLA])
REFERENCES [dbo].[IFRS_GRILLA] ([ID_GRILLA])
GO
ALTER TABLE [dbo].[IFRS_COLUMNA] CHECK CONSTRAINT [FK_REV_COLU_REF_REV_GRIL]
GO
/****** Object:  ForeignKey [FK_REV_AGRU_REF_REV_COLU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_AGRUPACION_COLUMNA]  WITH CHECK ADD  CONSTRAINT [FK_REV_AGRU_REF_REV_COLU] FOREIGN KEY([ID_COLUMNA], [ID_GRILLA])
REFERENCES [dbo].[IFRS_COLUMNA] ([ID_COLUMNA], [ID_GRILLA])
GO
ALTER TABLE [dbo].[IFRS_AGRUPACION_COLUMNA] CHECK CONSTRAINT [FK_REV_AGRU_REF_REV_COLU]
GO
/****** Object:  ForeignKey [FK_REV_CELD_REF_REV_COLU]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_CELDA]  WITH CHECK ADD  CONSTRAINT [FK_REV_CELD_REF_REV_COLU] FOREIGN KEY([ID_COLUMNA], [ID_GRILLA])
REFERENCES [dbo].[IFRS_COLUMNA] ([ID_COLUMNA], [ID_GRILLA])
GO
ALTER TABLE [dbo].[IFRS_CELDA] CHECK CONSTRAINT [FK_REV_CELD_REF_REV_COLU]
GO
/****** Object:  ForeignKey [FK_REV_CELD_REF_REV_TIPO]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_CELDA]  WITH CHECK ADD  CONSTRAINT [FK_REV_CELD_REF_REV_TIPO] FOREIGN KEY([ID_TIPO_DATO])
REFERENCES [dbo].[IFRS_TIPO_DATO] ([ID_TIPO_DATO])
GO
ALTER TABLE [dbo].[IFRS_CELDA] CHECK CONSTRAINT [FK_REV_CELD_REF_REV_TIPO]
GO
/****** Object:  ForeignKey [FK_REV_CELD_REF_REV_TIPO_CELDA]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_CELDA]  WITH CHECK ADD  CONSTRAINT [FK_REV_CELD_REF_REV_TIPO_CELDA] FOREIGN KEY([ID_TIPO_CELDA])
REFERENCES [dbo].[IFRS_TIPO_CELDA] ([ID_TIPO_CELDA])
GO
ALTER TABLE [dbo].[IFRS_CELDA] CHECK CONSTRAINT [FK_REV_CELD_REF_REV_TIPO_CELDA]
GO
/****** Object:  ForeignKey [FK_IFRS_REL_CONS_REL__IFRS_COD]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_REL_CONS_REL__IFRS_COD] FOREIGN KEY([ID_FECU])
REFERENCES [dbo].[IFRS_CODIGO_FECU] ([ID_FECU])
GO
ALTER TABLE [dbo].[IFRS_RELACION_EEFF] CHECK CONSTRAINT [FK_IFRS_REL_CONS_REL__IFRS_COD]
GO
/****** Object:  ForeignKey [FK_IFRS_REL_REFERENCE_IFRS_PE2]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_PE2] FOREIGN KEY([ID_PERIODO], [ID_RUT])
REFERENCES [dbo].[IFRS_PERIODO_EMPRESA] ([ID_PERIODO], [ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_RELACION_EEFF] CHECK CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_PE2]
GO
/****** Object:  ForeignKey [FK_REV_RELA_EEFF_REF_REV_CELD]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_REV_RELA_EEFF_REF_REV_CELD] FOREIGN KEY([ID_COLUMNA], [ID_GRILLA], [ID_FILA])
REFERENCES [dbo].[IFRS_CELDA] ([ID_COLUMNA], [ID_GRILLA], [ID_FILA])
GO
ALTER TABLE [dbo].[IFRS_RELACION_EEFF] CHECK CONSTRAINT [FK_REV_RELA_EEFF_REF_REV_CELD]
GO
/****** Object:  ForeignKey [FK_IFRS_REL_CONST_REL_IFRS_COD]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_REL_CONST_REL_IFRS_COD] FOREIGN KEY([ID_FECU])
REFERENCES [dbo].[IFRS_CODIGO_FECU] ([ID_FECU])
GO
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF] CHECK CONSTRAINT [FK_IFRS_REL_CONST_REL_IFRS_COD]
GO
/****** Object:  ForeignKey [FK_IFRS_REL_REFERENCE_IFRS_CUE]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_CUE] FOREIGN KEY([ID_CUENTA])
REFERENCES [dbo].[IFRS_CUENTA_CONTABLE] ([ID_CUENTA])
GO
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF] CHECK CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_CUE]
GO
/****** Object:  ForeignKey [FK_IFRS_REL_REFERENCE_IFRS_PER]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_PER] FOREIGN KEY([ID_PERIODO], [ID_RUT])
REFERENCES [dbo].[IFRS_PERIODO_EMPRESA] ([ID_PERIODO], [ID_RUT])
GO
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF] CHECK CONSTRAINT [FK_IFRS_REL_REFERENCE_IFRS_PER]
GO
/****** Object:  ForeignKey [FK_REV_RELA_DET_REF_REV_CELD]    Script Date: 02/17/2013 23:16:15 ******/
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF]  WITH CHECK ADD  CONSTRAINT [FK_REV_RELA_DET_REF_REV_CELD] FOREIGN KEY([ID_COLUMNA], [ID_GRILLA], [ID_FILA])
REFERENCES [dbo].[IFRS_CELDA] ([ID_COLUMNA], [ID_GRILLA], [ID_FILA])
GO
ALTER TABLE [dbo].[IFRS_RELACION_DETALLE_EEFF] CHECK CONSTRAINT [FK_REV_RELA_DET_REF_REV_CELD]
GO
